# Python
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# VS Code
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# System Files
.DS_Store
Thumbs.db
